#{
	margin:0;
	padding: 0;
}
body{
	margin:50px 0;
}
/*轮播广告*/
.carousel{
	height: 500px;
	margin-bottom: 60px;
}
.carousel .item{
	height: 500px;
}
.carousel .item img{
	width: 100%;
}
.carousel .item p{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 20px;
}

/*简述*/
.summary{
	padding-left: 15px;
	padding-right: 15px;
}
.summary .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
/*分界线*/
.feature-divider {
  border-top: 1px solid #999;
}    

/*标签页*/
.feature{
	padding: 30px 0;
}
.feature-heading{
	font-size: 40px;
	color: #2a6496;
}
.feature-heading .text-muted{
	font-size: 28px;
}