*{
	font-family: "SimHei";
	margin: 0;
	padding: 0;
}
/*标题*/
header h1{
	text-align: center;
}
/*整体设置*/
#warper{
	width: 640px;
	height: auto;
	margin: 0 auto;
	border: 1px solid #a0522d;
	border-radius: 3px;
}
/*更改时间设置*/
#time_set{
	width: 570px;
	height: 40px;
	padding-left: 70px;
	background-color: #e0e0e0;
}
#new_year, #new_month{
	width: 100px;
	height: 20px;
	padding: 0 20px;
	float: left;
	margin: 10px 0;

}
#year_down, #year_up, #month_down, #month_up{
	width: 10px;
	height: 17px;
	float: left;
	border: 1px solid #b8b8b8;
	cursor: pointer;
	border-radius: 3px;
}
#set_year, #set_month{
	width: 66px;
	height: 19px;
	float: left;
}
#gz{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	float: right;
}
#back_today{
	width: 60px;
	height: 40px;
	line-height: 40px;
	float: right;
	font-size: 12px;
	margin-left: 50px;
	cursor: pointer;
}
/*左边显示主体*/
#calendar{
	float: left;
	text-align: center;
	width: 500px;
	border: 1px solid #a6a8ab;
	border-radius: 3px;
  border-top: 0;
  height: auto;
}
/*日历头*/
#calendarhead{
	background-color: #7b0505;
}
#calendarhead tr td{
	width: 70px;
	font-weight: bold;
	font-size: 20px;
	padding: 1px;
	background-color: #7b0505;
	color: #fafbfb;
}
/*日历主体内容*/
#week{
	  background-color: #fcfcfc;
    border: 0;
    padding: 0;
    margin: 0;
}
#week tr td{
	width: 70px;
	padding: 1px;
	border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
}
.tr1{
	font-size: 20px;
}
.tr2{
	font-size: 12px;
}
/*详细说明*/
#detail{
	text-align: center;
	position: absolute;
	visibility: hidden;
}
#datedetail{
	width: 134px;
	font-size: 12px;
	padding: 2px;
	background-color: #e8f5f9;
}
#festival{
	background-color: #0978a6;
}
#selectDay{
	font-size: 14px;
	color: #000000;
	text-align: center;
}
#selectDay div{
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 30px; 
	margin: 10px 33px;
	float: right;
	background-color: #ffd700;
	border-radius: 3px;
}
#holiday{
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	color: #0978a6;
	margin-bottom: 5px;
}
#illustrate{
	border-top: 1px solid #a6a8ab;
}